<div>
  <file-drop class="mat-typography"
  customstyle="file-drop-custom"
  (onFileDrop)="dropped($event)">
    <h1>Drag files to upload</h1>
  </file-drop>
  <mat-list class="mat-typography">
    <mat-list-item>
      <h3 mat-subheader>File / Folder Actions:</h3>
      <button mat-button
      color="warn"
      *ngIf="!confirmDelete"
      (click)="confirmDelete = true"
      [disabled]="!fileInState('selected')">
        <mat-icon class="items-delete"
        svgIcon="delete"></mat-icon>
        Delete Selected
      </button>
      <button mat-button
      color="warn"
      *ngIf="confirmDelete"
      (click)="delete()"
      [disabled]="!fileInState('selected')">
        <mat-icon class="items-delete"
        svgIcon="delete-forever"></mat-icon>
        Confirm Deletion
      </button>
      <button mat-button
      *ngIf="confirmDelete"
      (click)="confirmDelete = false"
      [disabled]="!fileInState('selected')">
        <mat-icon class="items-delete"
        svgIcon="close"></mat-icon>
        Cancel
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button
      (click)="goBack()"
      (drop)="moveFileUp($event)"
      (dragover)="checkFile($event)"
      [disabled]="!notRoot()"
      color="accent"
      class="back-btn">
        <mat-icon mat-list-icon>arrow_back</mat-icon>
        Back
      </button>
    </mat-list-item>
    <mat-list-item [class.rename]="newFolder">
      <button mat-button
      (click)="newFolder = true"
      *ngIf="!newFolder"
      [disabled]="fileInState('rename')"
      color="primary"
      class="new-folder">
        <mat-icon mat-list-icon>add</mat-icon>
        New Folder
      </button>
      <form [formGroup]="formGroup"
      (ngSubmit)="addFolder()"
      class="rename-form"
      *ngIf="newFolder"
      #newFolderForm="ngForm">
        <mat-form-field>
          <input matInput placeholder="New Folder Name" [(ngModel)]="folderName" formControlName="folderName">
          <mat-error *ngIf="!formGroup.valid">
            Folder name is invalid!
          </mat-error>
        </mat-form-field>
        <button mat-button
        color="warn"
        type="button"
        (click)="newFolder = false; this.watchdog.detectChanges();">
          Cancel
        </button>
      </form>
    </mat-list-item>
    <mat-list-item *ngFor="let file of files"
    [ngSwitch]="file.type"
    [class.rename]="file.state === 'rename'">
      <form [formGroup]="formGroup"
      (ngSubmit)="rename(file)"
      *ngIf="file.state === 'rename'"
      #newFolderForm="ngForm"
      class="full-width rename-form">
        <mat-form-field class="half-width">
          <input matInput
          class="rename-input"
          placeholder="New {{file.type}} Name"
          [(ngModel)]="file.name"
          formControlName="folderName">
          <mat-error *ngIf="!formGroup.valid">
            Invalid {{file.type}} name!
          </mat-error>
        </mat-form-field>
        <button mat-button
        color="warn"
        type="button"
        (click)="file.state = 'none'; file.name = file.oldName; this.watchdog.detectChanges();">
          Cancel
        </button>
      </form>
      <button mat-icon-button
      (click)="toggle(file)"
      class="select-icon"
      *ngIf="file.state !== 'rename'"
      [disabled]="fileInState('rename') && file.state !== 'rename'">
        <mat-icon mat-list-icon
        [svgIcon]="getFromFileState(file.state)">
        </mat-icon>
      </button>
      <div *ngSwitchCase="'file'"
      [class]="file.type">
        <a mat-button
        *ngIf="file.state !== 'rename'"
        draggable="true"
        (dragstart)="fileDrag($event, file)"
        class="item"
        href="{{repo + file.path}}"
        target="_blank"
        [class.mat-primary]="file.state === 'selected'">
          <mat-icon mat-list-icon
          [svgIcon]="file.icon"
          [style.color]="file.iconColor"
          class="file-type">
          </mat-icon>
          {{file.name}}
        </a>
      </div>
      <div *ngSwitchCase="'folder'"
      color="primary"
      [class]="file.type">
        <a mat-button
        *ngIf="file.state !== 'rename'"
        draggable="true"
        (dragstart)="fileDrag($event, file)"
        (drop)="moveFile($event, file)"
        (dragover)="checkFile($event)"
        [routerLink]="file.path"
        class="item"
        [class.mat-primary]="file.state === 'selected'">
          <mat-icon mat-list-icon class="item-type" color="primary">folder</mat-icon>
          {{file.name}}
        </a>
      </div>
    </mat-list-item>
    <mat-list-item *ngFor="let file of uploadingFiles"
    [class.mat-warn]="file.error"
    class="uploading">
      <div class="file"
      [style.opacity]="file.progress < 100 && !file.error ? 0.5 : 1"
      [class.mat-warn]="file.error">
        <button mat-button
        class="item"
        [class.mat-warn]="file.error">
          <mat-icon mat-list-icon
          [svgIcon]="file.icon"
          [style.color]="file.iconColor"
          class="file-type">
          </mat-icon>
          {{file.name}}
        </button>
        <mat-progress-bar mode="determinate"
          [value]="file.progress"
          [class.mat-warn]="file.error">
        </mat-progress-bar>
        <span *ngIf="!file.error">
          {{(file.size * (file.progress / 100)) | filesize}} / {{file.size | filesize}}
        </span>
        <span *ngIf="file.error"
        [class.mat-warn]="file.error">
          {{file.error}}
        </span>
      </div>
    </mat-list-item>
    <mat-list-item *ngFor="let folder of uploadingFolders" class="uploading">
      <div class="folder"
      [style.opacity]="folder.progress < folder.size ? 0.5 : 1">
        <button mat-button class="item">
          <mat-icon mat-list-icon class="item-type" color="primary">folder</mat-icon>
          {{folder.name}}
        </button>
        <mat-progress-bar mode="determinate" [value]="(folder.progress / folder.size) * 100"></mat-progress-bar>
        <div>{{folder.progress | filesize}} / {{folder.size | filesize}}</div>
        <div style="color: #F44336;" *ngIf="folder.errors > 0">
          Error uploading {{folder.errors}} file(s)
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>